<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <div>
    <label for="square_number">Enter a number</label>

    <input id="square_number" type="text" name="users_number">
  <div>

  <button type="submit">Calculate square</button>
</form>
