<h1>Calculate the monthly payment</h1>

<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input id="APR" type="number" name="user_apr">
  </div>

  <div>
    <label for="year">Number of years</label>
    <input id="year" type="number" name="user_years">
  </div>

  <div>
    <label for="Principal">Principal</label>
    <input id="Principal" type="number" name="user_pv"> 
  </div>

  <button>Calculate monthly payment</button>
</form>
